<<<<<<< HEAD
<<<<<<< HEAD
<h1>Smart Fridge</h1>
<p>
  This is the home page for the smart fridge application.
</p>
=======
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
>>>>>>> FETCH_HEAD
=======
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
>>>>>>> FETCH_HEAD
