<%@recipe = Recipe.new %>
<div id="ajax-modal" class="modal fade">
  <div class="modal-dialog recipe-dialog">
    <div class="modal-content">
      <div class="modal-header food-title">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="text-shadow: none; font-size: 30px; opacity: .8; color:white;">&times;</button>
        <h4 class="modal-title">Add New Recipe</h4>
      </div>
      <div class="modal-body add-recipe-modal" style="width: 400px;">
        <%= form_for (@recipe) do |form| %>
            <form class="form-horizontal" role="form">
              <div class="form-group"> Recipe Information
                <div class="col-sm-12">
                  <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon emailbox"><i class="fa fa-cutlery fa-fw"></i></span>
                    <!-- <input class="form-control" type="text" placeholder="Email address"> -->
                    <%= form.text_field :name, :class => 'form-control', :placeholder => 'Recipe Name' %>
                  </div>
                </div>
              </div>
              <div class="form-group"> Directions
                <div class="col-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon textAreaBox"><i class="fa fa-file-text-o fa-fw"></i></span>
                    <!-- <input class="form-control" type="password" placeholder="Password"> -->
                    <%= form.text_area :directions, :id => 'direction', :class => 'form-control-area', :placeholder => 'Directions' %>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon passwordbox"><i class="fa fa-file-text-o fa-fw"></i></span>
                  <!-- <input class="form-control" type="password" placeholder="Password"> -->
                  <%= form.text_area :notes, :class => 'form-control-area', :placeholder => 'Notes' %>
                </div>
              </div>
            </div>
            </form>
        <%end%>
        <div class="ajax-loader"></div>
      </div>
      <div class='modal-footer'>
        <button type="button" data-dismiss="modal" class="btn">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->