<a href="" class="list-group-item for-recipe">
  <b><h4 class="list-group-item-heading" id="recipe-<%= recipe.id %>"><%= recipe.name %></h4></b>
  <p class="list-group-item-text recipe-ingredients"><%= recipe.ingredients %></p>
</a>
