<a href="" class="list-group-item for-recipe">
  <b><h4 class="list-group-item-heading <%= recipe.name %>"><%= recipe.name %></h4></b>
  <p class="list-group-item-text food-description"><%= recipe.directions %></p>
</a>