<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 style="margin-left: 20px;">
        <div class="col-md-1" style="padding-right: 0px; padding-bottom: 10px;">
        <%= gravatar_for @user %>
        </div>
        <div class="col-md-2" style="padding-left: 0px; padding-top: 6px; padding-bottom: 10px;">
            <%= @user.name %>
         <br/>
           <h4> <%= @user.email %> </h4>
        </div>
      </h1>
      <div class="loginbut">
        <%= link_to edit_user_path, id:"Edit User" do %>
            <i class="fa fa-pencil-square fa-fw space-icon-out" ></i>
            Update your account!
        <% end %>
      </div>
    </section>
  </aside>
</div>