<a href="" class="list-group-item for-food">
  <b><h4 class="list-group-item-heading <%= food_item.name %>"><%= food_item.name %></h4></b>
  <p class="list-group-item-text food-description"><%= food_item.description %></p>
</a>
