<a href="" class="list-group-item for-food">
  <b><h4 class="list-group-item-heading" id="food_item-<%= food_item.id %>"><%= food_item.name %></h4></b>
  <p class="list-group-item-text food-expiration"><%= food_item.expiration_date %></p>
</a>
