<div class="half-section col-md-4">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Food</h3>
    </div>
    <div id="show-food-little">
      <div class="col-md-2 food-image-box" style="margin: 10px 0px 0px 10px;">

      </div>
      <div id="foodtext" class="col-md-8">
        <%= render 'food_items/show', :locals => { :food_item => @food_item } %>
      </div>
    </div>
  </div>
</div>
