// customize bootstrap variables here:
/*
*= require_self
*= require font-awesome
*/
@import "bootstrap";


$main-color: #96D6D9;
$active-state-color: #4FAAC9;
$login-height: 400px;

/************************************************
Mixin Declarations
*************************************************/
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  transition: $time;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin box-shadow($shadow-color, $horz, $vert, $span) {
  -webkit-box-shadow: $shadow-color $horz $vert $span;
  -moz-box-shadow: $shadow-color $horz $vert $span;
  -ms-box-shadow: $shadow-color $horz $vert $span;
  box-shadow: $shadow-color $horz $vert $span;
}
.box-shadow {
  @include box-shadow(#000, 5px,5px,5px);
}
/************************************************
Global changes
*************************************************/
.container,
{
  padding-left: 40px;
  padding-right: 40px;
  background-size: 1170px 100%;
  width: 1170px;
}
body {
  font-family: 'Raleway','Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-image:url('../assets/crossword.png');
}
.section {
  @media screen and (max-width: 768px) {
    height: $login-height;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  @media screen and (min-width: 768px) {
    height: $login-height;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}
/************************************************
navbar changes
*************************************************/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: $active-state-color;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar {
  display: block;
  background-color: $main-color;
  @include border-radius(0px);
  @include box-shadow(rgba(34,34,34,0.4), 0px, 0px, 4px);
  //width: 1170px;
  //float: inherit;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: $active-state-color;
  @include transition(.3s);
}
.navbar-default .navbar-nav > li > a:not(:hover){
  color: #FFFFFF;
  @include transition(.3s);
}
.dropdown-menu {
  background-color: $active-state-color;
  border-color: $active-state-color;
  /*@include box-shadow(rgba(34,34,34,0.3), 2px, 4px, 1px)*/
}
.dropdown-menu > li > a{
  color: white;
}
.dropdown-menu > li > a:hover{
  background-color: #444444;
  color:white;
}

.navbar-brand {
  float: left;
  padding: 8px 10px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand.dark,
.navbar-brand.dark:not(:hover)
{
  background-color: $active-state-color;
  @include transition(.3s);
}
.navbar-brand.dark:hover{
  background-color: $main-color;
  @include transition(.3s);
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $active-state-color;
  color: #FFFFFF;
}
.navbar-default{
  border: none;
}
/* main content changes */

.header-content{
  height: 100%;
}

.lineoooo {
  background-color:$active-state-color;
  margin: 0px 0px 0px auto;
  width: 100%;
  height: 5px;
}

/************************************************
Login.html changes
*************************************************/
.service {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.pull-left {
  color: #777;
}
.fa-border.manageFood {
  padding: .3em .45em .15em;
  border: solid 0.08em #dddddd;
  border-radius: .2em;
  margin-top:1px;
}
.media-heading.choose-question{
  margin-top: 10px;
  font-weight:bold;
}
.sidebar.col-md-4{
  margin-top: 0px;
  height: $login-height;
}

.form-horizontal {
  @media screen and (max-width: 768px) {
    width: 94%;
  }
  @media screen and (min-width: 768px) {
    width: 116%;
  }
  margin-top: 10px;
  margin-left: 12px;
}
.form-control {
  width: 100%;
  color: #222;
}
.col-sm-offset-2.col-sm-10.checkbox,
.col-sm-offset-2.col-sm-10.signin {
  margin-left: 0.67%;
  margin-bottom: 0.67%;
}
.formdivider.divider{
  background-color: #eee;
  height: 1px;
  margin-top: 30px;
}
.loginText {
  padding-top: 20px;
  padding-left: 10px;
}
.sidebar-box{
  @include box-shadow(rgba(34,34,34,0.5), 0px, 2px, 2px);
}
.sidebar-box.sidebar-header{
  background-color: #ccc;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
.input-group-addon .fa{
  width: 26px;
}
.input-group-addon.emailbox,
.input-group-addon.passwordbox,
.input-group-addon.textAreaBox{
  background-color: #ccc;
  color: #222;
}
#direction{
  height:140px;
}
.input-group .form-control-area {
  display: block;
  width: 100%;
  height: 56px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  @include border-top-right-radius(4px);
  @include border-bottom-right-radius(4px);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-group .form-control {
  height: 50px;
}
.input-group {

  margin: 5px 0px;
}
.sidebar-box.sidebar-info {
  float: left;
  background-color: rgba(224,224,224,0.3);
  opacity: 0.7;
  padding: 24px 12px 24px 12px;
  @include border-bottom-right-radius(4px);
  @include border-bottom-left-radius(4px);


}

.scrollable-list,
.scrollable-list.recipe-list,
.scrollable-list.food-list{
  overflow: scroll;
  height: 400px;
}
.scrollable-list,
.scrollable-list.little-recipe-list,
.scrollable-list.little-food-list{
  overflow: scroll;
  height: 300px;
  //width: 200px;
}
.panel.panel-default{
  width: 100%;
}
.panel.panel-default.little-panel{
  width: 400px;
  margin-top: -10px;
}
.col-md-4.little-margins{
  margin-right: -20px;

}
.alert.alert-error{
  background-color: rgba(224,4,4,0.3);
  border-radius: 0px;
  color: #9b0001;
}
/********************************************
  Show food/recipe classes
*********************************************/
#show-food,
#show-recipe{
  height: 400px;
  background-color: white;
}
#show-food-little,
#show-recipe-little{
  height: 300px;
  background-color: white;
}
.food-image-box,
.recipe-image-box{
  @include border-radius(4px);
  background-color: transparent;
  margin: 10px;
  border: solid 0.2em #bbbbbb;
  width: 120px;
  height: 120px;
  text-align: center;
}
.foodtext{
  color: #555555;
}
#addFoodButton,
#addRecipeButton{
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 20px;
  background-color: $active-state-color;
  position: fixed;
  color: white;
  font-size: 36px;
  padding-left: 16px;
  padding-bottom: 15px;
  line-height: 1.428571429;
  font-family: 'Raleway','Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 100;
  @include border-bottom-right-radius(4px);
  @include border-top-right-radius(4px);
  @include box-shadow(rgba(34,34,34,0.4), 0px, 2px, 4px);
}

#addFoodButton:hover{
  span{
      position: fixed;
      font-size: 18px;
      padding-left: 12px;
      padding-top: 12px;
      color: white;
      @include transition(.3s);
  }
  background-color: rgba(44,44,44,0.9);
  width: 148px;
  hieght: 60px;
  @include transition(.3s);
}
#addRecipeButton:hover{
  span{
    position: fixed;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
    color: white;
    @include transition(.3s);
  }
  background-color: rgba(44,44,44,0.9);
  width: 160px;
  hieght: 60px;
  @include transition(.3s);
}
#addFoodButton:not(:hover),
#addRecipeButton:not(:hover){
  span{
    position: absolute;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 12px;
    visibility: hidden;
    color: rgba(0,0,0,0.0);
  }
  @include transition(.3s);
}
.modal-body.add-food-modal{
  height: 312px;
}
.modal-body.add-recipe-modal{
  height: 412px;
}
.modal-header.food-title{
  background-color: $active-state-color;
  border-bottom-color: #444444;
  border-bottom-width: 2px;
  color: white;
  @include border-top-right-radius(4px);
  @include border-top-left-radius(4px);
}
.modal-title{
  font-size: 22px;
}
.badge.food-badge{
  display: inline-block;
  min-width: 10px;
  padding: 4px 8px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 4px;
}
a.list-group-item.active > .badge{
  color: white;
}
/********************************************/
.space-icon-out,
.padIcon{
  /*width: 1.5em;*/
  text-align: left;
}

.loginbut{
  margin-top: 5px;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  background-color: #555555;
  color: white;
  border-color: #555555;
}
/************************************************
footer changes
*************************************************/
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  background-color: $main-color;
  @include box-shadow(rgba(34,34,34,0.4), 0px, 0px, 4px);
}
.nav.nav-tabs{
  margin-top: 24px;
}
/************************************************
form error message styles
*************************************************/
#error_explanation {
  color: #9b0001;
  ul {
    list-style: none;
    margin: 6px 0 6px 0;
  }
}

.field_with_errors .form-control {
  @extend .control-group;
  @extend .error;
  border-color: #9b0001;
  border-left-width: 10px;
 // background-color: rgba(224,4,4,0.3);
}

/************************************************
user profile page styles
*************************************************/
aside{
  section {
    padding: 10px 0;
    border-top: 1px solid #333333;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 6px;
      margin-top: 0px;
    }
    h1.h4{
      font-size: 1em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 10px;
      padding-top:10px;
    }
  }
}
.profile-bar{
  margin-top: -12px;
  margin-left: 20px;
  height: 100px;
  z-index: 0;
}

.debug_dump{
  width: 800px;
}