// customize bootstrap variables here:
/*
*= require_self
*= require font-awesome
*/
@import "bootstrap";


$main-color: #96D6D9;
$active-state-color: #4FAAC9;
$login-height: 400px;

/************************************************
Mixin Declarations
*************************************************/
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  transition: $time;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  -ms-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin box-shadow($shadow-color, $horz, $vert, $span) {
  -webkit-box-shadow: $shadow-color $horz $vert $span;
  -moz-box-shadow: $shadow-color $horz $vert $span;
  -ms-box-shadow: $shadow-color $horz $vert $span;
  box-shadow: $shadow-color $horz $vert $span;
}
.box-shadow {
  @include box-shadow(#000, 5px,5px,5px);
}
/************************************************
Global changes
*************************************************/
.container {
  padding-left: 0px;
  padding-right: 0px;
  background-size:1170px 100%;
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-image:url('../assets/crossword.png');
}
.section {
  @media screen and (max-width: 768px) {
    height: $login-height;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  @media screen and (min-width: 768px) {
    height: $login-height;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}
/************************************************
navbar changes
*************************************************/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: $active-state-color;
}

.navbar-default .navbar-nav li > a {
  color: #FFFFFF;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar {
  display: block;
  background-color: $main-color;
  @include border-radius(0px);
  @include box-shadow(rgba(34,34,34,0.4), 0px, 0px, 4px);

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: $active-state-color;
  @include transition(.3s);
}
.navbar-default .navbar-nav > li > a:not(:hover){
  color: #FFFFFF;
  background-color: $main-color;
  @include transition(.3s);
}
.dropdown-menu {
  background-color: $main-color;
}

.navbar-brand {
  float: left;
  padding: 8px 10px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand.dark,
.navbar-brand.dark:not(:hover)
{
  background-color: $active-state-color;
  @include transition(.3s);
}
.navbar-brand.dark:hover{
  background-color: $main-color;
  @include transition(.3s);
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $active-state-color;
  color: #FFFFFF;
}
.navbar-default{
  border: none;
}
/* main content changes */

.header-content{
  height: 100%;
}

.lineoooo {
  background-color:$active-state-color;
  margin: 0px 0px 0px auto;
  width: 100%;
  height: 5px;
}

/************************************************
Login.html changes
*************************************************/
.service {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.pull-left {
  color: #777;
}
.fa-border.manageFood {
  padding: .3em .45em .15em;
  border: solid 0.08em #dddddd;
  border-radius: .2em;
  margin-top:1px;
}
.media-heading.choose-question{
  margin-top: 10px;
  font-weight:bold;
}
.sidebar.col-md-4{
  margin-top: 0px;
  height: $login-height;
}

.form-horizontal {
  @media screen and (max-width: 768px) {
    width: 94%;
  }
  @media screen and (min-width: 768px) {
    width: 116%;
  }
  margin-top: 10px;
  margin-left: 12px;
}
.form-control {
  width: 100%;
  color: #222;
}
.col-sm-offset-2.col-sm-10.checkbox,
.col-sm-offset-2.col-sm-10.signin {
  margin-left: 0.67%;
  margin-bottom: 0.67%;
}
.formdivider.divider{
  background-color: #eee;
  height: 1px;
  margin-top: 30px;
}
.loginText {
  padding-top: 20px;
  padding-left: 10px;
}
.sidebar-box{
  @include box-shadow(rgba(34,34,34,0.5), 0px, 2px, 2px);
}
.sidebar-box.sidebar-header{
  background-color: #ccc;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}
.input-group-addon .fa{
  width: 26px;
}
.input-group-addon.emailbox,
.input-group-addon.passwordbox{
  background-color: #ccc;
  color: #222;
}
.input-group .form-control {
  height: 50px;
}
.input-group {

  margin: 5px 0px;
}
.sidebar-box.sidebar-info {
  float: left;
  background-color: rgba(224,224,224,0.3);
  opacity: 0.7;
  padding: 24px 12px 24px 12px;
  @include border-bottom-right-radius(4px);
  @include border-bottom-left-radius(4px);


}

.scrollable-list,
.scrollable-list.recipe-list,
.scrollable-list.food-list{
  overflow: scroll;
  height: 400px;

}

.space-icon-out,
.padIcon{
  /*width: 1.5em;*/
  text-align: left;
}

.loginbut{
  margin-top: 5px;
}
/************************************************
footer changes
*************************************************/
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  background-color: $main-color;
  @include box-shadow(rgba(34,34,34,0.4), 0px, 0px, 4px);
}
.nav.nav-tabs{
  margin-top: 24px;
}

